---
import Layout from "../layouts/Layout.astro"
import Graphics from "../components/Graphics.astro"
import Table from "../components/Table.astro"
import DatePicker from "../components/DatePicker.astro"
---

<Layout 
    title="Datos Históricos"
    description=""
>
    <h1>Datos Históricos</h1>
    <DatePicker />
    <Graphics/>
    <Table/>
</Layout>