---
import Layout from "../layouts/Layout.astro"
import Graphics from "../components/Graphics.astro"
---

<Layout 
    title="Datos Históricos"
    description=""
>
    <h1>Datos Históricos</h1>
</Layout>