---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Bento from '../components/Bento.astro'
import DatePicker from '../components/DatePicker.astro'
import Graphics from '../components/Graphics.astro'
import Tabs from '../components/Tabs.astro'
---

<Layout 
	title="Web Clima"
	description='Es una aplicación web que extrae los datos meterológicos de la ciudad de Huánuco'
>
	<main>
		<h1 class="text-white px-12">Estación Senati Huánuco</h1>
		<Bento />
		<h2 class="text-white px-10">Datos Históricos</h2>
	</main>
	<Footer />
</Layout>

<style>
	
</style>
