---
import BentoItem from "./BentoItem.astro"
---

<section
    class={`
        w-full max-w-[1400px]
        grid grid-cols-12 auto-rows-[15rem] gap-3 
        mx-auto p-20
    `}
>
        <BentoItem title="Sensación Térmica">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/descarga.jpeg')"
            >
            </div>

            <span 
                slot="content" 
                class="text-white max-w-xl flex items-center justify-center w-20 h-20 rounded-full bg-gray-800 text-center text-4xl font-bold mx-auto my-auto"
            >
                24°
            </span>
        </BentoItem>


        <BentoItem class="" title="Radiación Solar" subtitle="Los rayous ">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/descarga.jpeg')"
            >
            </div>

            <span 
                slot="content" 
                class="text-white max-w-xl flex items-center justify-center w-20 h-20 rounded-full bg-gray-800 text-center text-4xl font-bold mx-auto my-auto"
            >
                5lx
            </span>

        </BentoItem>


        <BentoItem class="" title="Indice Ultravioleta">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0
                -z-10 h-full w-full bg-blue-950 bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
                style="background-image: url('/descarga.jpeg')"
            >
            </div>

            <span 
                slot="content" 
                class=" text-white max-w-xl flex items-center justify-center w-40 h-40 rounded-none bg-gray-800 text-center text-4xl font-bold mx-auto my-auto"
                style="clip-path: polygon(50% 0%, 0% 100%, 100% 100%);"
            >
                10uv
            </span>
        </BentoItem>
        <BentoItem class="" title="Temperatura Exterior">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Temperatura Interior">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Humedad Interior">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Humedad Exterior">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Presión Relativa">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Presión Absoluta">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Velocidad del Viento">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Dirección del Viento">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Ráfaga del Viento">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Punto de Rocio">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>
        <BentoItem class="" title="Lluvia por Hora">
            <div
                slot="image"
                class="background transition-scale absolute bottom-0 left-0 top-0 -z-10 h-full 
                w-full bg-blue-950 bg-cover bg-center bg-no-repeat duration-1000 ease-in-out 
                group-hover:scale-110"
                style="background-image: url('/fondo.jpg')"
            > 
            </div>

            <span
                slot="content"
                class="text-white max-w-xl flex items-center justify-center text-center text-5xl font-bold mx-auto my-auto"
            >
                25°
            </span>
        </BentoItem>

</section>