<article class="date-input mx-auto">
    <label for="start-day" class="text-white font-bold">Fecha:</label>
    <div class="flex">
      <select id="start-day" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
      focus:ring-blue-500 focus0:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 
      dark:placeholder-gray-400 dark:text-white 
      dark:focus:ring-blue-500 dark:focus:border-blue-50 mr-1">
        <option value="">Day</option>
        <option value="">1</option>
      </select>
      <select id="start-month" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
      focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
      dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-1">
        <option value="">Month</option>
        <option value="">Enero</option>
        <option value="">Febrero</option>
        <option value="">Marzo</option>
        <option value="">Abril</option>
        <option value="">Mayo</option>
        <option value="">Junio</option>
        <option value="">Julio</option>
        <option value="">Agosto</option>
        <option value="">Septiembre</option>
        <option value="">Octubre</option>
        <option value="">Noviembre</option>
        <option value="">Diciembre</option>
      </select>
      <select id="start-year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
      focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white 
      dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="">Year</option>
        <option value="">2024</option>
      </select>
    </div>
  </article>