---
import Date from '../components/Date.astro'
import Calendar from '../components/Calendar.tsx'

---


<section class="date-picker flex justify-between items-center w-full max-w-[1400px] py-2 mx-auto">
    <Calendar />
    <Calendar />
</section>