<article class="date-input mx-auto">
    <label for="start-day" class="text-white font-bold">Fecha:</label>
    <div class="flex">
      <select id="start-day" class="day form-select">
        <option value="">Day</option>
        <option value="">1</option>
      </select>
      <select id="start-month" class="month form-select">
        <option value="">Month</option>
        <option value="">Enero</option>
        <option value="">Febrero</option>
        <option value="">Marzo</option>
        <option value="">Abril</option>
        <option value="">Mayo</option>
        <option value="">Junio</option>
        <option value="">Julio</option>
        <option value="">Agosto</option>
        <option value="">Septiembre</option>
        <option value="">Octubre</option>
        <option value="">Noviembre</option>
        <option value="">Diciembre</option>
      </select>
      <select id="start-year" class="year form-select">
        <option value="">Year</option>
        <option value="">2024</option>
      </select>
    </div>
  </article>