<section 
    class="w-full max-w-[1600px]
    grid grid-cols-12 column auto-rows-[15rem] gap-3 
    mx-auto p-20"
>
    <article 
        class="col-span-12 
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-white/80
        overflow-hidden
        group text-white"
    >
     TABLA 1
    </article>
        <article 
        class="col-span-12 
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-white/80
        overflow-hidden
        group text-white"
    >
     TABLA 2
    </article>
        <article 
        class="col-span-12 
        relative rounded-xl
        backdrop-blur-md
        border border-black/10
        shadow-inner shadow-white/80
        overflow-hidden
        group text-white"
    >
     TABLA 3
    </article>
</section>
