<header class="flex justify-between items-center py-5 mx-8">
    <section class="flex items-center gap-x-10 ocpacity-80">
        <img 
        class="rounded-full w-20 h-20"
        src="../senati.svg"
        alt="logo senati"
        
        />
        <h1>Senati Clima App</h1>
    </section>
    <nav class="text-white flex flex-row gap-x-10 ocpacity-80">
        <a href="">Login</a>
        <a href="">Register</a>
    </nav>
</header>