---
import NavButton from "./NavButton.astro"
---

<nav 
    class="lex flex-col items-center justify-between w-full text-center md:flex-row"    
>
    <NavButton class="text-white" href="/">Datos Actuales</NavButton>
    <NavButton class="text-white" href="/Historic">Datos Históricos</NavButton>
    <NavButton class="text-white" href="/">Sobre Nosotros</NavButton>
</nav>